html, body {
	margin: 0;
	background-color: #f4f4f4;
}

#container {
	.left {
		background-color: #fff;
		position: absolute;
		height: 100vh;
		width: 70vh;
		overflow-y: scroll;
		&::-webkit-scrollbar  
		{
			width: 5px;  
			height: 10px;  
			background-color: #f4f4f4;  
		}  
		/*定义滚动条轨道 内阴影+圆角*/  
		&::-webkit-scrollbar-track  
		{  
			-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);  
			border-radius: 10px;  
			background-color: #f4f4f4;  
		}    
		/*定义滑块 内阴影+圆角*/  
		&::-webkit-scrollbar-thumb  
		{  
			border-radius: 10px;  
			-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);  
			background-color: #bdbdbd;  
		}  
		/*滑块效果*/
		&::-webkit-scrollbar-thumb:hover
		{
		border-radius: 5px;
		-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
		background: rgba(0,0,0,0.4);
		}
	}
	.right {
		background-color: #fff;
		position: absolute;
		left: 70vh;
		width: 132vh;
		height: 100vh;
		overflow-y: scroll;
	}
	
}

.form-default {
	margin-top: 30%;
	.form {
		margin-top: 20px;
		.form-login {
			border: none;
			border-bottom: 2px solid #fff;
			width: 100%;
			height: 60px;
			text-align: center;
			color: #008080;
			background-color: #008080;
			&:hover,
			&:focus,
			&:active {
				border: none;
				border-bottom: 2px solid #fff;
			}
		}
	}
}

.note-create {
	border-bottom: 1px solid #ddd;
	padding: 8px 2.2% 8px 2.2%;
	margin: 0 -3% 0 -3%;
	background-color: #fff;
}

.note-show {
	border-bottom: 1px solid #ddd;
	padding: 8px 1.8% 8px 0;
	background-color: #fff;
}
