html, body {
	margin: 0;
	background-color: #f4f4f4;
}

#container {
	.left {
		background-color: #fff;
		position: absolute;
		height: 100vh;
		width: 70vh;
		overflow-y: scroll
	}
	.right {
		background-color: #fff;
		position: absolute;
		left: 70vh;
		width: 132vh;
		height: 100vh;
		overflow-y: scroll
	}
	
}

.form-default {
	margin-top: 30%;
	.form {
		margin-top: 20px;
		.form-login {
			border: none;
			border-bottom: 2px solid #fff;
			width: 100%;
			height: 60px;
			text-align: center;
			color: #008080;
			background-color: #008080;
			&:hover,
			&:focus,
			&:active {
				border: none;
				border-bottom: 2px solid #fff;
			}
		}
	}
}

.note-create {
	border-bottom: 1px solid #ddd;
	padding: 8px 2.2% 8px 2.2%;
	margin: 0 -3% 0 -3%;
	background-color: #fff;
}

.note-show {
	border-bottom: 1px solid #ddd;
	padding: 8px 1.8% 8px 0;
	background-color: #fff;
}
